## _Importing the required libraries here_

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px

## _Reading the Dataset here_

In [8]:
dataframe = pd.read_csv("../Datasets/collegePlacementData.csv")

## _Understanding the Dataset here_

In [11]:
dataframe.sample(10)

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
149,24,Male,Computer Science,1,7,0,0,1
1093,22,Male,Electronics And Communication,2,7,0,1,0
1807,20,Male,Computer Science,0,6,0,0,0
1056,22,Male,Civil,1,7,0,0,0
1289,21,Male,Electronics And Communication,0,8,0,0,1
1083,22,Male,Information Technology,1,6,0,0,0
712,25,Male,Electrical,0,8,0,0,1
889,22,Male,Electrical,1,7,0,0,0
2189,19,Female,Information Technology,1,8,0,0,1
1020,21,Female,Civil,2,7,0,0,0